<a uib-dropdown-toggle data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul uib-dropdown-menu>
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('ORE')" data-ng-class="{active: currency.symbol == 'ORE'}">ORE</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('mORE')" data-ng-class="{active: currency.symbol == 'mORE'}">mORE</a>
  </li> 
  <li>
  <a data-ng-click="setCurrency('uORE')" data-ng-class="{active: currency.symbol == 'uORE'}">uORE</a>
  </li>
</ul>

